@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans;
  scroll-behavior: smooth;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
}

#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

.header-nav-mobile {
  box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(0, 0%, 100%, 0.1);
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
/* 
@media (max-width: 768px) {
  #header-nav {
    box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
} */

@keyframes blur {
  to {
    box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}
